.container {
  margin: 0;
  padding: 0 0 70px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: auto;
  background: linear-gradient(180deg, rgba(184, 200, 204, 0.5) 8%,rgb(177, 251, 255, 0.07) 12%, rgba(236, 233, 230, 0.3) 17%,  rgba(255, 255, 255) 40%, rgba(236, 233, 230, 0.6) 90%,rgba(206, 170, 135, 0.8)); 
}

.container > * {
  display: flex;
}

form {
  flex-direction: column;
  margin: 3vh 5vw;
  border-radius: 10px;
}

.inputBox {
  display: flex;
  flex-direction: row;
  width: 45vw;
  justify-content: flex-start;
}

.passwordBox {
  margin-left: 1vw;
}

@media (max-width: 720px)	{
  .inputBox {
    flex-direction: column;
    justify-content: space-between;
  }
  .passwordBox {
    margin-left: 0;
  }
}

span {
  margin-top:  1vh  ;
}


button {
  margin-top: 3vh;
  width: 15vw;
  font-size: calc(0.5em + 0.25vw);
}
